# enviromental
.env

# Kaggle stuff
kaggle.json
*.csv

# Terraform
terraform.tfvars
.terraform.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.backup

# Experiment tracking & Orchestration
/data/*
!/data/.gitkeep
/Tracking/mlflow_data/*
.env
__pycache__/
*.pyc
logs/
/Orchestration/logs/dag_processor_manager
catboost_info/
/Orchestration/logs/dag_processor_managerdag_processor_manager.log
.pytest_cache
