[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
boto3 = "*"
scikit-learn = "*"
evidently = "*"
matplotlib = "*"
kaggle = "*"
imblearn = "*"
catboost = "==1.2.8"
xgboost = "==2.0.3"
mlflow = "==2.12.1"
hyperopt = "==0.2.7"
pandas = "==2.2.1"
numpy = "==1.26.4"
psycopg2-binary = ">=2.9.9,<2.10"
sqlalchemy = ">=1.4,<2.0"
scipy = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"