[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pandas = "*"
scikit-learn = "*"
mlflow = "*"
evidently = "*"
matplotlib = "*"
kaggle = "*"
imblearn = "*"
pathlib = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
